<template>
  <div>
    <Post v-for="post in posts" v-bind:post="post" :key="post.id"/>
  </div>
</template>

<script>
import Post from "./Post"

export default {
  name: "Posts",
  components: { Post },
  props: ["posts"]
}
</script>

<style scoped>
</style>
