<template>
  <div>
    <p>{{ post.title }}</p>
    <p>{{ post.body }}</p>
    <p>{{ post.date }}</p>
    <p>{{ post.tags }}</p>
  </div>
</template>

<script>
export default {
  name: "Post",
  props: ["post"]
}
</script>

<style scoped>
</style>
