<template>
  <div id="app">
    Breviloquentia
    <Posts v-bind:posts="posts"/>
  </div>
</template>

<script>
import axios from "axios"
import Posts from "./components/Posts"
import cfg from "./config"

export default {
  name: "app",
  components: { Posts },
  data() {
    return {
      posts: []
    }
  },
  created() {
    axios.get(`${cfg.BREV_CORE_URL}/posts`)
         .then(res => { this.posts = res.data })
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
